/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.main-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle1 {
    background-color: red;
}

.circle2 {
    background-color: blue;
}

.line {
    width: 100px;
    margin: 1px solid black;
    height: 2px;
    background-color: black;
} */
/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.main-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle1 {
    background-color: red;
}

.circle2 {
    background-color: blue;
}

.circle3 {
    background-color: green;
}

.line {
    width: 100px;
    height: 2px;
    background-color: black;
} */
/* 
.chart {
    position: relative;
}

.bubble {
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-address {
    display: block;
    margin-bottom: 10px;
}

.popup-close {
    background-color: #dddddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.popup-close:hover {
    background-color: #cccccc;
} */

.chart {
    position: relative;
    margin-bottom: 20px;
}

.bubble circle {
    fill: steelblue;
    stroke: #fff;
    /* stroke: black; */
    stroke-width: 2px;
}

.bubble text {
    font-size: 12px;
    text-anchor: middle;
    fill: #fff;
    fill: black;
}

.bubble-details {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 40%;
    background-color: #f9f9f9;
    background-color: yellow;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bubble-details h4 {
    margin-top: 0;
}

.bubble-details p {
    margin-bottom: 10px;
}

.close-button {
    background-color: #ccc;
    color: #fff;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #999;
}