.chart {
    position: relative;
    margin-bottom: 20px;
}

.bubble circle {
    fill: steelblue;
    stroke: #fff;
    /* stroke: black; */
    stroke-width: 2px;
}

.bubble text {
    font-size: 12px;
    text-anchor: middle;
    fill: #fff;
    fill: black;
}

.bubble circle {
    transition: r 0.2s ease-in-out;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* max-height: 59vh; */
    z-index: -1;
}